In [1]:
import pandas as pd

# Load the datasets
courses_df = pd.read_csv('courses.csv')
instructors_df = pd.read_csv('instructors.csv')

In [2]:
# Basic information about the 'courses' dataset
print(courses_df.info())
print(courses_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83104 entries, 0 to 83103
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      83104 non-null  int64
 1   title                   83104 non-null  object
 2   url                     83104 non-null  object
 3   rating                  83104 non-null  float64
 4   num_reviews             83104 non-null  int64
 5   num_published_lectures  83104 non-null  int64
 6   created                 83104 non-null  object
 7   last_update_date        83026 non-null  object
 8   duration                83104 non-null  object
 9   instructors_id          83104 non-null  int64
 10  image                   83104 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 7.0+ MB
None
                 id        rating    num_reviews  num_published_lectures  \
count  8.310400e+04  83104.000000   83104.000000            83104.000000
mean   2.840131e+06      4.024024     432.482131               41.189028
std    1.464117e+06      1.165697    3959.906512               54.618540
min    2.762000e+03      0.000000       0.000000                0.000000
25%    1.567282e+06      3.954133       9.000000               13.000000
50%    2.983494e+06      4.359388      36.000000               25.000000
75%    4.155830e+06      4.623386     135.000000               48.000000
max    5.156870e+06      5.000000  452973.000000              891.000000

       instructors_id
count    8.310400e+04
mean     6.192204e+07
std      5.959892e+07
min      7.830000e+02
25%      1.314831e+07
50%      3.910707e+07
75%      1.052086e+08
max      2.230982e+08

In [3]:
# Basic information about the 'instructors' dataset
print(instructors_df.info())
print(instructors_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32233 entries, 0 to 32232
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _class         32233 non-null  object
 1   id             32233 non-null  int64
 2   title          32233 non-null  object
 3   name           32232 non-null  object
 4   display_name   32233 non-null  object
 5   job_title      32155 non-null  object
 6   image_50x50    32233 non-null  object
 7   image_100x100  32233 non-null  object
 8   initials       31613 non-null  object
 9   url            32173 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.5+ MB
None
                 id
count  3.223300e+04
mean   7.769093e+07
std    6.357907e+07
min    7.830000e+02
25%    2.270537e+07
50%    5.732630e+07
75%    1.294234e+08
max    2.230982e+08

In [7]:
# DATA CLEANING

# Drop columns in courses dataset

# Drop the 'url' and 'image' columns in the "courses" dataset
courses_df.drop(columns=['url', 'image'], inplace=True)

# Rename 'id' to 'instructors_id' in "instructors" dataset and drop unnecessary columns 
instructors_df.rename(columns={'id': 'instructors_id'}, inplace=True)
instructors_df.drop(columns=['_class', 'title', 'name', 'image_50x50', 'image_100x100', 'url'], inplace=True)

KeyError: "['url', 'image'] not found in axis"

In [14]:
courses_df.rename(columns={'last_update_date': 'last_updated'}, inplace=True)

# Confirm deletion and renaming

print(courses_df.info())
print(instructors_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83104 entries, 0 to 83103
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      83104 non-null  int64
 1   title                   83104 non-null  object
 2   rating                  83104 non-null  float64
 3   num_reviews             83104 non-null  int64
 4   num_published_lectures  83104 non-null  int64
 5   created                 83104 non-null  object
 6   last_updated            83026 non-null  object
 7   duration                83104 non-null  object
 8   instructors_id          83104 non-null  int64
dtypes: float64(1), int64(4), object(4)
memory usage: 5.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32233 entries, 0 to 32232
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   instructors_id  32233 non-null  int64
 1   display_name    32233 non-null  object
 2   job_title       32155 non-null  object
 3   initials        31613 non-null  object
dtypes: int64(1), object(3)
memory usage: 1007.4+ KB
None

In [15]:
# Check for missing values
print(courses_df.isnull().sum())
print(instructors_df.isnull().sum())

id                         0
title                      0
rating                     0
num_reviews                0
num_published_lectures     0
created                    0
last_updated              78
duration                   0
instructors_id             0
dtype: int64
instructors_id      0
display_name        0
job_title          78
initials          620
dtype: int64

In [16]:
print(courses_df.shape)
print(instructors_df.shape)

(83104, 9)
(32233, 4)

In [17]:
# Handle missing values

# Fill missing values with "N/A"
courses_df.fillna("N/A", inplace=True)
instructors_df.fillna("N/A", inplace=True)

In [18]:
print(courses_df.isnull().sum())
print(instructors_df.isnull().sum())

id                        0
title                     0
rating                    0
num_reviews               0
num_published_lectures    0
created                   0
last_updated              0
duration                  0
instructors_id            0
dtype: int64
instructors_id    0
display_name      0
job_title         0
initials          0
dtype: int64

In [21]:
# DATA EXPLORATION AND ANALYSIS

# Validate Unique instructors
unique_instructors = instructors_df['instructors_id'].nunique()
print(f'Total unique instructors: {unique_instructors}')

Total unique instructors: 32233

In [22]:
print(courses_df.head(10))
print(instructors_df.head(10))

        id                                              title    rating  \
0   567828  The Complete Python Bootcamp From Zero to Hero...  4.592782
1  1565838         The Complete 2023 Web Development Bootcamp  4.667258
2   625204                    The Web Developer Bootcamp 2023  4.696147
3   756150        Angular - The Complete Guide (2023 Edition)  4.592692
4  2776760  100 Days of Code: The Complete Python Pro Boot...  4.695252
5   533682    Java Programming Masterclass updated to Java 17  4.550276
6  1362070  React - The Complete Guide (incl Hooks, React ...  4.609824
7   851712  The Complete JavaScript Course 2023: From Zero...  4.728533
8   950390  Machine Learning A-Z™: Python & R in Data Scie...  4.528399
9   903744  Python for Data Science and Machine Learning B...  4.622137

   num_reviews  num_published_lectures               created last_updated  \
0       452973                     155  2015-07-29T00:12:23Z   2021-03-14
1       263152                     490  2018-02-22T12:02:33Z   2023-01-20
2       254711                     616  2015-09-28T21:32:19Z   2023-02-12
3       180257                     472  2016-02-08T17:02:55Z   2023-02-06
4       177568                     676  2020-01-24T10:47:21Z   2022-11-30
5       177184                     544  2015-06-21T20:25:56Z   2023-02-15
6       176452                     512  2017-09-26T22:20:24Z   2023-02-09
7       167670                     320  2016-05-17T09:31:26Z   2022-11-07
8       166138                     382  2016-09-05T09:54:22Z   2023-02-04
9       126984                     165  2016-07-13T05:22:58Z   2020-05-03

            duration  instructors_id
0     22 total hours         9685726
1   65.5 total hours        31334738
2     64 total hours         4466306
3   34.5 total hours        13952972
4     64 total hours        31334738
5  103.5 total hours          599932
6   48.5 total hours        31926668
7     69 total hours         7799204
8   42.5 total hours         2364054
9     25 total hours         9685726
   instructors_id                           display_name  \
0         9685726                          Jose Portilla
1        31334738                          Dr. Angela Yu
2         4466306                            Colt Steele
3        13952972               Maximilian Schwarzmüller
4          599932                           Tim Buchalka
5        31926668  Academind by Maximilian Schwarzmüller
6         7799204                      Jonas Schmedtmann
7         2364054                        Kirill Eremenko
8         8280056                            365 Careers
9        13922584                            Al Sweigart

                                           job_title initials
0           Head of Data Science at Pierian Training       JP
1                      Developer and Lead Instructor       DY
2                  Developer and Bootcamp Instructor       CS
3  AWS certified, Professional Web Developer and ...       MS
4  Java Python Android and C# Expert Developer - ...       TB
5                                   Online Education       AS
6               Web Developer, Designer, and Teacher       JS
7                                     Data Scientist       KE
8  Creating opportunities for Data Science and Fi...       3C
9               Software developer, tech book author       AS

In [27]:
# Courses Analysis

# Top 10 Courses by Rating
top_courses_by_rating = courses_df.nlargest(10, 'rating')

# Average Rating
avg_rating = courses_df['rating'].mean()

# Courses Count by Year
courses_df['created'] = pd.to_datetime(courses_df['created'])
courses_by_year = courses_df['created'].dt.year.value_counts()

# Top 10 Instructors by Number of Courses
top_instructors_by_courses = courses_df['instructors_id'].value_counts().head(10)

print("Top 10 courses by rating:\n", top_courses_by_rating)
print("Top 10 instructors by courses:\n", top_instructors_by_courses)
print("Courses created by year::\n", courses_by_year)

Top 10 courses by rating:
             id                                              title  rating  \
25982  3508578                              Break Out of Struggle     5.0
29001  3105328  Bitcoin Alternatifi Altcoinler İle 1'e 300 Kaz...     5.0
45088  4924860     Как из лендинга создать сайт с воронкой продаж     5.0
51941  4212822  The Ultimate Guide to Miniature Painting for B...     5.0
51953  5075210  Learn 3D Modeling : From Newbie to Advanced in...     5.0
59111  5013446  Beginners Drawing & Painting Christmas & Winte...     5.0
59187  4538292       Ascension Techniques of the Ascended Masters     5.0
59278  3959824                     Acrylic Painting Course - Cake     5.0
63414  4494602  Curso Tarot Arcanos Mayores - José Guillén | T...     5.0
63499  3680806  Vedic Yantra Vigyan Sadhana   वैदिक यंत्र विज्...     5.0

       num_reviews  num_published_lectures                   created  \
25982            1                       8 2020-09-18 01:29:58+00:00
29001            1                      16 2020-05-08 19:26:30+00:00
45088            1                      18 2022-10-12 11:02:11+00:00
51941            1                      29 2021-07-30 08:57:34+00:00
51953            1                       8 2023-01-10 12:44:24+00:00
59111            1                      49 2022-12-07 06:17:35+00:00
59187            1                       7 2022-02-07 13:56:30+00:00
59278            1                       0 2021-04-05 00:58:27+00:00
63414            1                      24 2022-01-14 09:31:57+00:00
63499            1                      20 2020-12-04 10:13:10+00:00

      last_updated         duration  instructors_id
25982   2021-09-05    2 total hours        73371578
29001   2020-05-16  5.5 total hours       115534656
45088   2023-01-25  1.5 total hours        40358154
51941   2021-08-01  4.5 total hours       168132260
51953   2023-01-10    5 total hours       217030640
59111   2022-12-18  2.5 total hours         9100824
59187   2022-03-04  2.5 total hours        29262460
59278   2022-01-07                0       112724776
63414   2022-08-23  2.5 total hours       183705658
63499   2020-12-08     1 total hour        61636354
Top 10 instructors by courses:
 instructors_id
5058914     485
214757      284
39032       279
16262298    247
32504146    240
665187      229
254593      205
5581552     201
50191822    180
63572698    179
Name: count, dtype: int64
Courses created by year::
 created
2020    16190
2021    15310
2022    12559
2019     9403
2018     9078
2017     6616
2016     4553
2015     4374
2014     2269
2013     1249
2023     1089
2012      360
2011       51
2010        3
Name: count, dtype: int64

In [28]:
# Merge both dataset for visualization

merged_df = pd.merge(courses_df, instructors_df, on='instructors_id', how='left')
merged_df.to_excel('merged_udemy_data.xlsx', index=False)

IllegalCharacterError: Extracorporeal Shockwave Therapy Online Training cannot be used in worksheets.

In [30]:
import re

def clean_string(value):
    if isinstance(value, str):
        # Replace illegal characters with a space or any other character
        value = re.sub(r'[\x00-\x1F\x7F-\x9F]', ' ', value)
    return value

# Apply the clean_string function to all string columns using the "DataFrame.map" method
courses_df = courses_df.map(clean_string)
instructors_df = instructors_df.map(clean_string)

# Replace missing values with "N/A" if there are
courses_df.fillna("N/A", inplace=True)
instructors_df.fillna("N/A", inplace=True)

In [31]:
# Check column names
print(courses_df.columns)
print(instructors_df.columns)

Index(['id', 'title', 'rating', 'num_reviews', 'num_published_lectures',
       'created', 'last_updated', 'duration', 'instructors_id'],
      dtype='object')
Index(['instructors_id', 'display_name', 'job_title', 'initials'], dtype='object')

In [32]:
# Merge both datasets on 'instructors_id'
merged_df = pd.merge(courses_df, instructors_df, on='instructors_id', how='left')

In [33]:
# Save the cleaned and merged dataframe to an Excel file
merged_df.to_excel('merged_udemy_data.xlsx', index=False)

ValueError: Excel does not support datetimes with timezones. Please ensure that datetimes are timezone unaware before writing to Excel.

In [38]:
# To solve error, convert Timezone-Aware datetimes to Timezone-Naive datetimes

# Firts, identify the datetime columns
datetime_columns_courses = ['created', 'last_updated']
datetime_columns_instructors = []

# Convert to timezone-naive datetimes using the 'dt.tz_localize(None)' method to remove the timezone information
for col in datetime_columns_courses:
    if col in courses_df.columns:
        courses_df[col] = pd.to_datetime(courses_df[col], errors='coerce').dt.tz_localize(None)

for col in datetime_columns_instructors:
    if col in instructors_df.columns:
        instructors_df[col] = pd.to_datetime(instructors_df[col], errors='coerce').dt.tz_localize(None)

In [39]:
# Check column names
print(courses_df.columns)
print(instructors_df.columns)

Index(['id', 'title', 'rating', 'num_reviews', 'num_published_lectures',
       'created', 'last_updated', 'duration', 'instructors_id'],
      dtype='object')
Index(['instructors_id', 'display_name', 'job_title', 'initials'], dtype='object')

In [40]:
# Merge both datasets for visualization
merged_df = pd.merge(courses_df, instructors_df, on='instructors_id', how='left')

In [41]:
# Save the cleaned and merged dataframe to an Excel file
merged_df.to_excel('merged_udemy_data.xlsx', index=False)